body {
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 20px;
}

.container {
    margin: 2vw;
}

.bar {
    position: fixed;
    top: 0;
    width: 10px;
    height: 100%;
}

.bars {
    position: relative;
}
#progress-bar {
    /* background-color: #3f72af; */
    background-color: red;
    z-index: 5;
    height: 100px;
    width: 15px;
}

#progress-bar-background {
    background-color: #112d4e;
}

#dragable {
    position: absolute;
    top: 0;
    height: 30px;
    width: 20px;
    background-color: red;
    z-index: 10;
}
